@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    width: 100%;
}

.main{
    background-image: url(asets/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .navbar{
    max-width: 85vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0 0 0;
    align-items: center;
    position: relative;
    z-index: 10;
}

.main .navbar span{
    width: 15%;
}

.main .navbar span img{
    color: red;
    height: 2.5rem;
    position: relative;
    z-index: 10;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    background-color: black;
}

.main .fees{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    gap: 23px;
    padding: 23px 23px 19px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 13px;
    justify-content: center;
    text-align: center;
}

.btn {
    padding: 4px 10px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border-color: rgb(175, 172, 172);
}

.btn select {
    background-color: transparent;
    color: white;
    border: none;
}

.btn select option {
    color: black;
}

.btn img {
    height: 13px;
    color: white;
    background-color: transparent;
    z-index: 10;
}

.btn-red-sn {
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
}
.btn-red-sn a{
    color: white;
    text-decoration: none;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 4px 24px;
    font-size: 20px;
    border-radius: 5px;
    border-color: red;
}

.main input {
    background-color: transparent;
    color: white;
    padding: 4px 24px;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(99, 97, 97);
}

.separation {
    height: 5px;
    background-color: rgb(68, 66, 66);
    opacity: 0.65;
    z-index: 15;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    color: white;
    margin: auto;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .first{
        flex-wrap: wrap;
    }
}

.setText {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.setText h1{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.setImg {
    position: relative;
    top: 8px;
    padding: 8px;
    margin: 0;
}

.setImg img{
    max-width: 432px;
    position: relative;
    z-index: 10;
}

.setImg video {
    position: absolute;
    top: 69px;
    right: 69px;
    max-width: 320px;
}

.faq {
    display: grid;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 10px;
    padding: 10px;
}

.faq h1{
    text-align: center;
}

.faq .ques {
    width: 70vw;
    display: flex;
    background: rgb(52, 49, 49);
    padding: 6px;
    justify-content: space-between;
    cursor: pointer;
}

.faq .ques h2{
    font-size: 20px;
}

.faq .ques:hover {
    background-color: rgb(121, 119, 119);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.footer a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    h1{
        display: flex;
        font-size: 25px;
    }
}

@media screen and (max-width: 663px) {
    h1{
        display: flex;
        font-size: 20px;
    }
    .first {
        padding: 15px 0;
    }
    .setImg img {
        max-width: 350px;
    }
    .setImg video {
        position: absolute;
        top: 63px;
        right: 59px;
        max-width: 252px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }
    .main .fees {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .start {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .main .navbar span img {
        height: 2rem;
    }
}