*{
    padding: 0;
    margin: 0;
}

.main{
    background-image: url(asets/bg.jpg);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    background-color: black;
}